<h2>Edit Menu catalog master</h2>

<%= render "form.html", Map.put(assigns, :action, menu_catalog_master_path(@conn, :update, @menu_catalog_master)) %>

<span><%= link "Back", to: menu_catalog_master_path(@conn, :index) %></span>
