<h2>Show Menu catalog master</h2>

<ul>

  <li>
    <strong>Catalog name:</strong>
    <%= @menu_catalog_master.catalog_name %>
  </li>

</ul>

<span><%= link "Edit", to: menu_catalog_master_path(@conn, :edit, @menu_catalog_master) %></span>
<span><%= link "Back", to: menu_catalog_master_path(@conn, :index) %></span>
