<h2>Edit Item customized</h2>

<%= render "form.html", Map.put(assigns, :action, item_customized_path(@conn, :update, @item_customized)) %>

<span><%= link "Back", to: item_customized_path(@conn, :index, BN.get_domain(@conn)) %></span>
