<h2>New Item customized</h2>

<%= render "form.html", Map.put(assigns, :action, item_customized_path(@conn, :create, BN.get_domain(@conn))) %>

<span><%= link "Back", to: item_customized_path(@conn, :index, BN.get_domain(@conn)) %></span>
