<h2>Listing Discount catalog master</h2>

<table class="table">
  <thead>
    <tr>
      <th>Catalog name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for discount_catalog_master <- @discount_catalog_master do %>
    <tr>
      <td><%= discount_catalog_master.discname %></td>

    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Discount catalog master", to: discount_catalog_master_path(@conn, :new) %></span>
