<h2>New Discount catalog master</h2>

<%= render "form.html", Map.put(assigns, :action, discount_catalog_master_path(@conn, :create, BN.get_domain(@conn))) %>

<span><%= link "Back", to: discount_catalog_master_path(@conn, :index, BN.get_domain(@conn)) %></span>
