<h2>Show Discount catalog master</h2>

<ul>

  <li>
    <strong>Catalog name:</strong>
    <%= @discount_catalog_master.catalog_name %>
  </li>

</ul>

<span><%= link "Edit", to: discount_catalog_master_path(@conn, :edit, @discount_catalog_master) %></span>
<span><%= link "Back", to: discount_catalog_master_path(@conn, :index) %></span>
