<h3>Dear Sir/Madam,</h3>

<p>This is your username: <b><%= @user_name %></b></p>
<p>This is your temporary password: <b><%= @password %></b></p>

<p><b>Please log in and change your password !</b></p>

<p>Have a nice day!</p>


