<h2>New Brand</h2>

<%= render "form.html", Map.put(assigns, :action, brand_path(@conn, :create,@conn.private.plug_session["brand"])) %>

<span><%= link "Back", to: brand_path(@conn, :index,@conn.private.plug_session["brand"]) %></span>
