<h2>Show Brand</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @brand.name %>
  </li>

  <li>
    <strong>Domain name:</strong>
    <%= @brand.domain_name %>
  </li>

  <li>
    <strong>Bin:</strong>
    <%= @brand.bin %>
  </li>

</ul>

