<h2>Edit Rpthourlyoutlet</h2>

<%= render "form.html", Map.put(assigns, :action, rpthourlyoutlet_path(@conn, :update, @rpthourlyoutlet)) %>

<span><%= link "Back", to: rpthourlyoutlet_path(@conn, :index, BN.get_domain(@conn)) %></span>
