<h2>Edit Void items</h2>

<%= render "form.html", Map.put(assigns, :action, void_items_path(@conn, :update, @void_items)) %>

<span><%= link "Back", to: void_items_path(@conn, :index, BN.get_domain(@conn)) %></span>
