<h2>New Sales detail cust</h2>

<%= render "form.html", Map.put(assigns, :action, sales_detail_cust_path(@conn, :create)) %>

<span><%= link "Back", to: sales_detail_cust_path(@conn, :index) %></span>
