<h2>Edit Rpttransaction</h2>

<%= render "form.html", Map.put(assigns, :action, rpttransaction_path(@conn, :update, @rpttransaction)) %>

<span><%= link "Back", to: rpttransaction_path(@conn, :index) %></span>
