<h2>New Rptcashiereod</h2>

<%= render "form.html", Map.put(assigns, :action, rptcashiereod_path(@conn, :create, BN.get_domain(@conn))) %>

<span><%= link "Back", to: rptcashiereod_path(@conn, :index, BN.get_domain(@conn)) %></span>
