<h2>Edit Sales master</h2>

<%= render "form.html", Map.put(assigns, :action, sales_master_path(@conn, :update, @sales_master)) %>

<span><%= link "Back", to: sales_master_path(@conn, :index) %></span>
