<h2>New Sales detail combo</h2>

<%= render "form.html", Map.put(assigns, :action, sales_detail_combo_path(@conn, :create, BN.get_domain(@conn))) %>

<span><%= link "Back", to: sales_detail_combo_path(@conn, :index, BN.get_domain(@conn)) %></span>
