<h2>New Password resets</h2>

<%= render "form.html", Map.put(assigns, :action, password_resets_path(@conn, :create, BN.get_domain(@conn))) %>

<span><%= link "Back", to: password_resets_path(@conn, :index, BN.get_domain(@conn)) %></span>
