<h2>New Menu catalog</h2>

<%= render "form.html", Map.put(assigns, :action, menu_catalog_path(@conn, :create, BN.get_domain(@conn))) %>

<span><%= link "Back", to: menu_catalog_path(@conn, :index, BN.get_domain(@conn)) %></span>
