<h2>New User branch access</h2>

<%= render "form.html", Map.put(assigns, :action, user_branch_access_path(@conn, :create)) %>

<span><%= link "Back", to: user_branch_access_path(@conn, :index) %></span>
