<h2>New Category</h2>

<%= render "form.html", Map.put(assigns, :action, category_path(@conn, :create, BN.get_domain(@conn))) %>

<span><%= link "Back", to: category_path(@conn, :index, BN.get_domain(@conn)) %></span>
