<h2>New Discount item</h2>

<%= render "form.html", Map.put(assigns, :action, discount_item_path(@conn, :create, BN.get_domain(@conn))) %>

<span><%= link "Back", to: discount_item_path(@conn, :index, BN.get_domain(@conn)) %></span>
