<h2>New Migrations</h2>

<%= render "form.html", Map.put(assigns, :action, migrations_path(@conn, :create, BN.get_domain(@conn))) %>

<span><%= link "Back", to: migrations_path(@conn, :index, BN.get_domain(@conn)) %></span>
