<h2>Edit Voucher</h2>

<%= render "form.html", Map.put(assigns, :action, voucher_path(@conn, :update, BN.get_domain(@conn), @voucher)) %>

<span><%= link "Back", to: voucher_path(@conn, :index, BN.get_domain(@conn)) %></span>
