<h2>Edit Cash in out type</h2>

<%= render "form.html", Map.put(assigns, :action, cash_in_out_type_path(@conn, :update, @cash_in_out_type)) %>

<span><%= link "Back", to: cash_in_out_type_path(@conn, :index, BN.get_domain(@conn)) %></span>
